rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Matsetu Online Voting System Security Rules
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
